.books {
  border-radius: 10px;
  box-shadow: 0px 5px 20px rgb(71, 71, 71);
  margin: 20px;
  display: flex;
  flex-direction: column;
  /* justify-content: space-around; */
  background: white;
  align-items: center;
  min-width: 20%;
}

.btn .remove {
  visibility: hidden;
}

/* .btn {
  display: flex;
  width: 28%;
  margin: 0 5px 2px 5px ;
   flex-direction: row;
  justify-content: space-around;
} */

.manage-buttons .details {
  visibility: hidden;
}

.fetchBook {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  padding: 5px;
}
