.main {
  background-image: linear-gradient(135deg, #667eea 0%, #764ba2 100%);
}
.main p {
  font-size: 1.5rem;
  font-family: 'Montserrat', sans-serif;
}
.explore {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 84.3vh;
  flex-direction: column;
  color: #fff;
}
