@import "mixin";
@import "variables";

.form {
  @include forms;
}

.log {
  @include logRegForm(25px);
}

.input {
  @include inputs;
}

.di {
  text-align: center;
}

input {
  border: 1px solid red;
}

span {
  color: red;
}
