@import "variables";
@import "mixin";

.main {
  background-image: linear-gradient(135deg, #667eea 0%, #764ba2 100%);
  p {
    font-size: 1.5rem;
    font-family: $fontFamily;
  }
}


.explore {
  // display: flex;
  // justify-content: center;
  // align-items: center;
  @include center;
  flex-direction: column;
  height: 84.3vh;
  color: #fff;
}

