* {
  margin: 0;
  padding: 0;
}

@import "components/styles/Books.scss";

body {
  background-color: #f1e3cb;
  overflow-x: hidden;
  background-image: linear-gradient(135deg, #667eea 0%, #764ba2 100%);
  button:hover {
    cursor: pointer;
  } 
}


.navmain {
  margin-left: 700%;
  // display: inline-block;
}

@media only screen and (max-width:785px) {
  .navmain {
    margin-left: 0;
  }
}